
BODY {
    background: white;
    color: navy;
}

A:link { color: #DF6C00 }
A:active, A:visited { color: maroon }

/* try to match the text style in the lua-users logo */
a.nav {
    text-decoration: none;
    color: navy;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 22px;
}

BODY.preview {
    background: url(/images/preview-bg.png) white;
}

pre.code { color: black; }
span.comment { color: #00a000; }
span.string  { color: #009090; }
span.keyword { color: navy; font-weight: bold; }
span.library { color: #900090; }

/* In case of block indent (implemented with table), add cue at left border. */
dd pre.code {
    border-left: 1px dotted maroon;
    margin-left: -1em;
    padding-left: 1em;
}

/* Addition by lhf, 2016 */
body {
    line-height: 1.25;
    margin: 0px auto;
    padding: 16px;
    max-width: 70em;
    width: 95%;
}

h1, h2, h3, h4 {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: left;
}
