<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jolokia="http://www.jolokia.org/jolokia-spring/schema/config"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.jolokia.org/jolokia-spring/schema/config http://www.jolokia.org/jolokia-spring/schema/config/jolokia-config.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
       ">

	<!-- Jolokia -->

	<context:mbean-export server="jolokiaMBeanServer" />

	<jolokia:mbean-server id="jolokiaMBeanServer" />

	<bean name="jolokia" id="jolokia"
		class="org.jolokia.jvmagent.spring.SpringJolokiaAgent">
		<property name="lookupConfig" value="false" />
		<property name="systemPropertiesMode" value="never" />
		<property name="config">
			<bean class="org.jolokia.jvmagent.spring.SpringJolokiaConfigHolder">
				<property name="config">
					<util:map>
						<entry key="autoStart" value="true" />
						<entry key="host" value="0.0.0.0" />
						<!--  <entry key="port" value="7777" /> -->
						<entry key="port" value="${jolokia.port}"/>
						<entry key="protocol" value="http" />
						<entry key="agentId" value="jolokia" />
						<entry key="debug" value="false" />
						<entry key="user" value="${jolokia.utente}" />
						<entry key="password" value="${jolokia.password}" />
					</util:map>
				</property>
			</bean>
		</property>
	</bean>

	<bean id="logQuery" class="io.hawt.log.log4j.Log4jLogQuery"
		lazy-init="false" scope="singleton" init-method="start"
		destroy-method="stop" />

</beans>
